* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #E5E5E5;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*header*/
.header {
  background: url("../IMG/bgc.jpg") no-repeat center center/cover;
  height: 100vh;
}

.header a {
  color: #FFFFFF;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.header__menu-left {
  display: flex;
}

.header__menu-left li:not(:last-child) {
  margin-right: 40px;
}

.header__menu-right {
  display: flex;
  align-items: center;
}

.header__down {
  text-align: center;
}

.header__down-brands {
  position: absolute;
  max-width: 1110px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 30px 0;
  width: 100%;
}

.header__down-brands {
  display: flex;
}

.header-brands__img {
  margin-right: 30px;
  position: relative;
}

.header-brands__img:not(:last-child)::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #fff;
  position: absolute;
  right: -15px;
  top: 0;
}

/* menu */
.menu {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  align-items: center;
}

.menu__left {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.menu__left svg {
  margin-right: 16px;
}

.menu__right-item:not(:last-child) {
  margin-right: 30px;
}

.menu__search-title {
  padding-right: 40px;
  display: flex;
}

.header__down-btn {
  background: 0;
  color: #ffff;
  border: 1px solid #fff;
  padding: 15px 35px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color .2s linear;
  margin-bottom: 160px;
  position: relative;
}

.header__down-btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.header__down-title {
  color: #fff;
  margin-bottom: 50px;
}

.down_brands::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 125px;
  z-index: 1;
  background-color: #FFFFFF;
}

.img__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.content__title {
  margin: 100px 0 60px 0;
  color: #333333;
  text-align: center;
}

.content__title-text {
  padding-bottom: 15px;
}

.btn-items {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
}

.btn-back {
  width: 165px;
  height: 55px;
  border: 1px solid #333333;
  background-color: #E5E5E5;
  position: relative;
}

.btn-back .btn-inner {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  transition: background-color .2s linear;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 1px solid #333333;
  background-color: #E5E5E5;
  top: -6px;
  left: -6px;
}

.btn-back .btn-inner.active {
  background-color: #333333;
  color: #FFFFFF;
  top: 0;
  left: 0;
}

.btn-back .btn-inner:hover {
  top: 0;
  left: 0;
  background-color: #333333;
  color: #FFFFFF;
}

.img__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 90px;
}

.img__menu.advice {
  margin-bottom: 120px;
}

.img__menu-img {
  max-width: 350px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.img__menu-img.advice {
  margin-bottom: 60px;
}

.img__picture {
  height: auto;
  width: 100%;
}

.img__text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-weight: 400;
  font-size: 13px;
  line-height: 29.4px;
  text-align: center;
  color: #FFFFFF;
}

.about {
  background: url("../IMG/cho1.jpg");
}

.about__title {
  padding: 100px 0 45px 0;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
}

.about__text {
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  width: 730px;
  height: 100px;
  margin: 0 auto;
}

.about__footer {
  margin-bottom: 80px;
}

.about__us {
  display: flex;
  justify-content: center;
  padding: 20px 0 120px 0;
  justify-content: center;
  margin: 0 auto;
}

.about__block {
  display: flex;
  margin-bottom: 15px;
}

.about__button {
  padding: 15px 35px;
  margin: 60px 0 100px 0;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.about__button:hover {
  color: #FFFFFF;
  background-color: #333333;
  border: 1px solid #333333;
}

.about__btn {
  text-align: center;
}

.advice {
  margin-bottom: 150px;
}

.advice__btn {
  margin: 0 auto;
  padding: 15px 35px;
  background: #333333;
  border: 1px solid #333333;
  color: #FFFFFF;
  box-sizing: border-box;
  transition: background-color .2s linear;
  display: flex;
  margin: 0 auto;
  font-weight: 500;
  font-size: 18px;
}

.advice__btn:hover {
  background: #FFFFFF;
  color: #333333;
}

.advice__btn-inner {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
}

.img__advice {
  display: flex;
}

.img__advice-png {
  position: relative;
  display: flex;
}

.img__advice-png svg {
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  position: absolute;
  z-index: 1;
}

.img__advice-img img {
  height: 100%;
  width: 100%;
}

.form {
  background: url("../IMG/cho1.jpg");
  margin-bottom: 120px;
}

.about__us {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__us-blocks {
  margin-right: 80px;
}

.about__block {
  display: flex;
  align-items: center;
}

.about__block:not(:last-child) {
  margin-bottom: 15px;
}

.about__svc svg {
  margin-right: 20px;
}

.about__a {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* or 25px */
}

.about__us-block2 {
  background-color: #FFFFFF;
  padding: 20px 22px;
  position: relative;
}

.about__us-block2::before {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid #FFFFFF;
  padding: 14px 15px;
  width: 100%;
  height: 100%;
  top: -15px;
  left: -15px;
}

.subscribe {
  display: flex;
}

.subscribe__input {
  padding: 15px 87px 14px 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  margin-right: 15px;
  z-index: 1;
}

.subscribe__btn {
  background-color: #333333;
  color: #FFFFFF;
  padding: 14.5px 35px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 1;
  border: 1px solid #FFFFFF;
}

.subscribe__btn:hover {
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid #333333;
}

.footer__blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer__blocks-item {
  flex: 1;
}

.footer__blocks-item:not(:last-child) {
  margin-right: 30px;
}

.footer__blocks-title {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
  position: relative;
}

.footer__blocks-title::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #333333;
  width: 100%;
  left: 0;
  bottom: -10px;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__menu-item2:not(:last-child) {
  margin-bottom: 21px;
}

.footer__menu-links {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.footer__hreves {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 255px;
  text-align: start;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.hreves__title {
  color: #333333;
}

.footer__banck-kart {
  display: flex;
}

.footer__log {
  display: flex;
  align-items: center;
}

.footer__log:not(:last-child) {
  margin-bottom: 19px;
}

.footer__svg {
  margin-right: 20px;
}

.banck__karts {
  display: flex;
  align-items: center;
}

.banck__karts:not(:last-child) {
  margin-right: 22px;
}

.footer__menu-links {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__copyright {
  position: relative;
}

.footer__copyright::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #333333;
  width: 100%;
  top: -20px;
  left: 0;
}

.banck__karts {
  color: #333333;
}

.footer__svg {
  color: #333333;
}

.copyright__titles {
  display: flex;
  justify-content: space-between;
}

.copyright__inner {
  font-size: 14px;
  line-height: 150%;
  color: #333333;
  margin-bottom: 20px;
}

.copyright__inner a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  text-decoration-line: underline;
  color: #333333;
}
/*# sourceMappingURL=main.css.map */